/openpose/
/.idea/
/.vscode
/yolov5s.pt
/yolo-test/pose_deploy_linevec_faster_4_stages.prototxt
/yolo-test/pose_iter_160000.caffemodel
/yolo-test/yolov5s.pt
!/yolov5/data/images/
!/yolov5/data/labels/
!/yolov5/models/yolo.py
!/yolov5/data/dataset.yaml
!/yolov5/runs/
/yolov5/
